body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image:
                "url('https://icpure.com/wp-content/uploads/2023/09/0001.png')";
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
  width: 100%;
  height: 100px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    /* padding-right: 1100px; */
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;

}
.menu a:hover{
    border: 1px solid rgb(16, 22, 52);
    background: transparent;
}
.register a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background:rgb(149, 250, 81)
}
.register a:hover{
    border: 1px solid rgb(255, 255, 238);
    background: rgb(255, 83, 83);

}
.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width:fit-content;
    transform:translate(-50%,-50%);
    text-align: center;
    color: rgb(72, 255, 62);

}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 2cm;
}
.btn{
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
.copyright{

    color: #ffffff;;
    position: absolute;
    bottom: 30px;

}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .circular-btn {
      background-color: #333;
      color: white;
      border: none;
      border-radius: 50%;
      width: 50px; /* Set equal width and height for a circular shape */
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  }
  
  .circular-btn:hover {
    background-color: #e93b3b;
  }

  .damn-btn{
      transform: scale(1.1);
      color: rgb(255, 255, 255);
      background-color: blue;
    
  }

  /* search btn */
  .inputt-container {
    width: 320px;
    position: relative;
  }
  
  .iconn {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .inputt {
    width: 520px;
    height: 50px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  .inputt:focus {
    outline: none;
    border: 0.5px solid rgb(15, 216, 251);
    box-shadow: -5px -5px 0px rgb(24, 143, 241);
  }
  
  .inputt-container:hover > .iconn {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }